.hotels {
    display: inline-block;
    width: 434px;
    vertical-align: -50px;
    height: 320px;
}
h1 {
    color: #636363;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
.start, .end {
    display: inline-block;
    border: none;
    margin-bottom: 14px;
}
.start {
    margin-right: 30px;
}

.start-input, .end-input  {
    display: inline-block;
    width: 200px;
}

.hotel {
    display: block;
    margin-bottom: 20px;
}
.amenities, .location {
    display: block;
}
.amenities {
    margin-bottom: 4px;
}
.location-input {
    display: inline-block;
    width: 434px;
}

label {
    margin-bottom: -20px;
    margin-left: 4px;
    color: #636363;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
} 

.container {
    width: 434px;
    padding: 0;
}
.btn {
    font-size: 18px;
    transition: 0.2s;
}
.clear {
    background:none;
    border:1px solid transparent;
    box-shadow:none;
    text-decoration: underline;
    margin-right: 14px;
}
.clear:hover {
    border: 1px solid #ccc;
}