<div class="flights">
    <div class="start">
        <label> START DATE </label>
        <br/>
        <input class="start-input form-control" >
    </div>

    <div class="end">
        <label> END DATE </label>   
        <br/> 
        <input class="end-input form-control" >
    </div>

    <div class="direction">
        <div class="from">
            <label> FROM </label>
            <br/>
            <input class="from-input form-control" >
        </div>

        <div class="to">
            <label> TO </label>
            <br/>
            <input class="to-input form-control" >
        </div>
    </div>

    <div class="container">
        <button type="button" class="btn btn-primary pull-right">Search</button>
        <button type="button" class="btn clear pull-right">Clear</button>
    </div>
</div>