<div class="container">
    <nav class="nav-sidebar">
        <ul class="nav tabs">
            <li>  <a routerLink="flights" routerLinkActive="active"><i class="fa fa-plane" aria-hidden="true"></i>  Flights </a></li>
            <li>  <a routerLink="hotels" routerLinkActive="active"> <i class="fa fa-bed" aria-hidden="true"></i> Hotels </a></li>
            <li>  <a routerLink="cars" routerLinkActive="active"> <i class="fa fa-car" aria-hidden="true"></i> Cars </a></li>                               
        </ul>
    </nav>
</div>  

